body{
  font-family: sans-serif;
}
.top{
    display: grid;
    grid-template-columns: .25fr 1fr 100px;
    grid-template-rows: .12fr;
    background-color: #494e54;
    color: white;
    font-family: sans-serif;
}
.top > h3{
  justify-self: end;

 
}
.top >p{
  align-self: center;
   background-color:#494e54 ;
}
.ender{
      background-color: #34373f;
      width: 100px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(255, 255, 255, 0.3);
}
.firter{
    background-color: #262c30;
}
.leftbar{
    margin-top: 0;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(11,50px) ;
    font-family: sans-serif;
    background-color: #f8f9fb;
    margin-top: 10px;
    width: 200px;
    float: left;
    height: 570px;
}

.savereports{
  color: rgb(123, 107, 107)
}


h2{
  margin-left: 10px;
  
}
.sidebarcontainer{
  
  padding-left: 10px;
  height: 710px;
  border-right: 0.5px solid #dadfe7;
  border-top: 1px solid #dadfe7;
  width: 269px;
  background-color: #f8f9fb;

}

.search{
  margin-left: 15px;
  color: rgb(255, 255, 255, 0.3);
}

.bar:hover{
  color: blue;
  margin-left: 10px;
}

/* .plusbtn{
  position: relative;
  left: 105px;
  top: 3px;
} */

.table {
    display: table;
    width: 700px;
    text-shadow: 1px 1px rgb(152, 143, 143);
    border-spacing: 0px;
    width: 1300px;
    height: 550px;
    padding-left: 30PX;
 

}

.back {
    background: rgb(192, 186, 186);

}

/* 
table,
th,
td {
    border-top: solid rgb(136, 127, 127);
    border-bottom: solid rgb(136, 127, 127);
} */
.sidebarcontainer{
  display: inline;
}

